<main>
    <div class= "container">

     <img src="assets/images/LogoPorvenir-horizontal.png">
    
    <form [formGroup]="form" class="login-input">

        <label>Usuario</label>
        <input formControlName="email" class= "usuario" type="text" placeholder="usuario@porvenir.com.co">

        <label>Contraseña</label>
        <input formControlName="password" class= "contraseña" type="password" placeholder="*********">

    </form>

        <p *ngIf="showErrorMessage">Ha ocurrido un error al intentar iniciar sesión</p>
        <button [disabled]="form.invalid" (click)="login()">Iniciar sesión</button>

    </div>
</main>
