*{
    box-sizing:border-box;
    margin: 0px; 
    padding: 0px;    
}

main{
    width: 100%;
    height: 100vh;
    background-color: #9BB849; 
    justify-content: center;
    display: flex;
}

.container{
    display: flex;
    flex-flow: column;
    align-items: center;
}

img{
    margin: 70px 10px 50px 50px;
    width: 300px;
}

label{
    font-family: 'bold', sans-serif;
    margin-top: 20px;
}

.login-input{
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

input {
    margin-top: 20px;
    width: 450px;
    height: 45px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    background-color: #9BB849;
    text-align: center;
    color: #ffffff;
    font-family: 'bold', sans-serif;
    font-size: 16px;
}

::placeholder {
    text-align: center;
    font-family: 'regular';
    color: white;
}

button {
    font-family: 'bold', sans-serif;
    font-size: 16px;
    margin-top: 50px;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    color: #ffffff;
    background-color:#FF7C1A;
}
