<div class="container-states">
    <section class="sec-table">
        <table class="states-table">
          <thead>
            <tr class="states-head">
              <th>Contrato</th>
              <th>Área Abastecimiento</th>
              <th>Área Usuaria</th>
              <th>Guardar</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tr-detail">
              <td>ID:1234567</td>
              <td>°</td>
              <td>°</td>
              <td>||</td>
            </tr>
          </tbody>
        </table>
    </section>
</div>
