.container-states {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.sec-table {
  height: 450px;
  width: 1100px;
  display: flex;
  justify-content: center;
  border: 2px solid rgba(255, 124, 26, 1);
  border-radius: 25px;
  overflow-y: auto;
  overflow-x: hidden;
}

.states-table {
  width: 1100px;
  border-collapse: collapse;
}

.states-head {
  height: 50px;
  border-bottom: 2px solid rgba(255, 124, 26, 1);
}

th {
  font-size: 15px;
  padding: 10px 50px;
  text-align: center;
  font-family: 'bold', sans-serif;
  color: rgba(64, 107, 43, 1);
}

td {
  height: 57px;
  text-align: center;
  border-bottom: 2px solid rgba(255, 124, 26, 1);
}

.tr-contract{
  font-family: 'regular', sans-serif;
  color: rgba(64, 107, 43, 1);
}

button{
  border: none;
  background-color: transparent;
}
img{
  width: 30px;
  height: 30px;
}