<div class="container-states">
    <section class="sec-table">
        <table class="states-table">
          <thead>
            <tr class="states-head">
              <th>Contrato</th>
              <th>Área Abastecimiento</th>
              <th>Área Usuaria</th>
              <th>Guardar</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tr-detail">
              <td class="tr-contract">ID:1234567</td>
              <td><img src="assets/images/icon_check.png"></td>
              <td><img src="assets/images/icon_no_check.png"></td>
              <td><button (click)="download()"><img src="assets/images/icon_download.png"></button></td>
            </tr>
          </tbody>
        </table>
    </section>
</div>