<div class="container-states">
    <section class="sec-table">
        <table class="states-table">
          <thead>
            <tr class="states-head">
              <th>Contrato</th>
              <th>Área Abastecimiento</th>
              <th>Área Usuaria</th>
                <th *ngIf="currentUserRole === userRole.User">Editar</th>
              <th>Guardar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contract of contracts$ | async" class="tr-detail">
              <td class="tr-contract">ID: {{ contract.id }}</td>
              <td><img src="assets/images/icon_check.png"></td>
              <td><img src="assets/images/icon_no_check.png"></td>
                <td *ngIf="currentUserRole === userRole.User"> <button (click)="edit(contract?.id)">Editar </button></td>
              <td><button (click)="download(contract)"><img src="assets/images/icon_download.png"></button></td>
            </tr>
          </tbody>
        </table>
    </section>
</div>
