<nav class="nav-toolbar">
  
  <div class="">
    <img src="assets/images/LogoPorvenir-2.png" class="logo" alt="logo" />
  </div>

  <ul class="nav-options">
    <li><a href="dashboard/create">Nuevo contacto</a></li>
    <li><a href="dashboard/states">Estados de contratos</a></li>
  </ul>
  
  <div class="nav-user">
    <h4 class="text-user">{{ userRoleLabel }}</h4>
    <button class="logout-button" (click)="logout()">
      <img src="assets/images/profile-ico.png" class="profile-ico" alt="profile icon" />
    </button>
  </div>

</nav>
