<div class="create-contract">
    <p class="create-contract-message">{{message}}</p>

    <form class="create-contract-form" [formGroup]="form">

        <formly-form [form]="form" [fields]="fields" [options]="options" [model]="model"></formly-form>

        <div class="create-contract-buttons">
            <button *ngIf="currentUserRole === userRole.Supplier && showButtonUserCanEdit" class="create-contract-button__request" (click)="update()">Solicitar información complementaria al área interesada del proceso</button>
            <button class="create-contract-button__save" (click)="add(model)">Guardar contrato</button>
        </div>

    </form>

</div>
