/* You can add global styles to this file, and also import other style files */

*{
  box-sizing:border-box;
  margin: 0px;
  padding: 0PX;
}

li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}
@font-face{
    font-family: 'regular';
    src: url('/assets/fonts/regular.otf');
}

@font-face{
    font-family: 'bold';
    src: url('/assets/fonts/bold.otf');
}

// body{
//   color: orange;
// }

.form {
  &-section{
    &-row{
      width: 100%;
      .form-group {
        display: flex;
        justify-content: center;
        align-items: center;
        label,
        formly-field-select,
        formly-field-input,
        formly-field-radio,
        formly-field-file {
          margin-top: 30px;
          margin-bottom: 30px;
          flex: 1;
        } 
        form-section{
          color: orange;
          font-family: regular;
        }
        label {
          font-family: 'bold';
          text-align: right;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 39px;
          color: #406B2B;
          width: 100%;
          margin-right: 15px;
        }
        .form-control {
          flex: 1;
          border: 2px solid #406B2B;
          box-sizing: border-box;
          border-radius: 10px;
          width: 549px;
          min-height: 57px;
          margin-left: 15px;
          font-family: 'regular';
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 39px;
          color: #406B2B;
          padding: 10px;
        }
        formly-field-radio {
          & > div {
            display: flex;
          }
        }
      }
    }

  }
}
