/* You can add global styles to this file, and also import other style files */

*{
  box-sizing:border-box;
  margin: 0px;
  padding: 0PX;
}

li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}
@font-face{
    font-family: 'regular';
    src: url('/assets/fonts/regular.otf');
}

@font-face{
    font-family: 'bold';
    src: url('/assets/fonts/bold.otf');
}
/* You can add global styles to this file, and also import other style files */
.create-contract-form {
  &-label {
    font-family: 'bold';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
    text-align: right;
    color: #406B2B;
    margin-right: 25px;
  }
  &-field {
    border: 2px solid #406B2B;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .ng-dynamic-forms-select,
  .ng-dynamic-forms-input,
  .ng-dynamic-forms-radio_group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    .form-control {
      width: 549px;
      height: 57px;
    }
    .flex-col {
      flex: 1;
    }
    dynamic-basic-select,
    dynamic-basic-input,
    dynamic-basic-radio-group{
      flex: 1;
    }
  }
  fieldset {
    border: 0;
    legend {
      font-family: 'bold';
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 45px;
      color: #FF7C1A;
    }
    &[role=radiogroup] {
      display: flex;
      align-items: center;
    }
  }

  dynamic-basic-radio-group {
    span{
      font-family: 'regular';
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 39px;
      color: #406B2B;
    }
  }
}


